nav {
	margin: 0;
	background-color: var(--ravenclaw-blue);
	color: var(--ravenclaw-bronze);
	font-size: 1.5em;
	border-radius-bottom: 5px;
	padding: 5px;
	
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 50px;
	grid-template-area: 'brand links link seach';
	align-items: center;
}
.brand {
	
}